.form1{
    float: right;
    width: 500px;
    background-color: whitesmoke;
    margin-right: 25px;
    font-style: Arial, Helvetica, sans-serif;
}
.head{
    color:crimson;
}
.para{
    color:black;
}