<br/><br/>

<div class="form1"  >
    <br/>
    <h4 class="head"> <b>More that you read, the more things you will know. 
        The more that you learn, the more places you’ll go!!</b> </h4>
    <br/><br/>
    <h6 class="para">New technologies are growing at a fast rate. 
        Technology is shaping how people do business, how people communicate with each other, 
        and how people search for jobs.It is important to learn about current technology. 
        So that we need to learn various programming languages and try to implement
        our own login to solve various real time problems. Also need to learn marketing skills, 
        also need to improve comminication skills. The world is changing too fast, we need to learn the technologies like AI, ML,
        IOT and many more. It is important to understand what is the finance, it's analytics for the growth of company or 
        bussinesses. So we are here to teach you all these things.   </h6>

        <br/>
        <h6 class="para">Let's get start...</h6>
        <br/>
            <h5 class="para">All The Best !!</h5>
        <br/>
        <br/>
</div>
