<body>
  
  <div class="topnav">
  <br/>&nbsp;
  <img id="logo-main" src="assets/images/logo.jpg" width="50" height="50">
  
  <div class="topnav-right">
    <a href="/aboutUs"> <b> About Us</b> </a>
    <a href="/contactUs"><b> Contact Us</b></a>&nbsp;
    <button class="logIn" (click)="signInWithGoogle()" >
   
      <b>Log In</b> 
    </button>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <br/><br/>
  
</div>

<router-outlet></router-outlet>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </body>
  
  
  