
<style>
    body {background-color: coral;}
    .row{
        margin-left: 600px;
        margin-top: 100px;
    }
    .class1{
              color: #00ff90;
              font-style:italic;
              margin-left: 350px;
              margin-top: 150px;
          }
  </style>
  
  <body>
    <br/>
    <div class="class1">
      <h3><b>ONLY THE BEST TECHNICAL MINDS!!</b></h3>
  </div>
  
    <main class="comtainer mt-5">
    
      <div class="row">
    
        <div class="col-md-6" style="width: 20%; letter-spacing: 500px;">
    
          <button class="btn btn-danger btn-block" (click)="signInWithGoogle()" >
            <i class="fa fa-google"></i>
            Google SignIn
          </button>
        </div>
      </div>
    </main>
  
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </body>
  
  
  