<body>


   <br/>
  <button class="logout"><a  href="http://localhost:4200/">Sign Out</a></button> 




<h2>Course Management</h2>
<div class='menu'>
   <br/>
   &nbsp;
    <button (click)="getAll()">Get Courses</button>&nbsp;&nbsp;
    <button (click)="toggle()">Add Course</button>&nbsp;&nbsp;
    <button (click)="toggle2()"> Delete Course </button>&nbsp;&nbsp;
    <button (click)="toggle3()">Update Course</button><br/><br/>
    <br/>
    <br/>
</div>
   
    <div  *ngIf="!isCollapsed1">
        <h3>Available Courses:</h3>
        <div *ngFor="let course of courses" >
            <b>ID:</b>  {{course.id}}
            <br/>
            <b>Name:</b>  {{course.name}}
            <br/>
            <b>Description:</b>  {{course.description}}
            <br/><br/>
        </div>
    </div>
    
        <form  *ngIf="!isCollapsed" (ngSubmit)="saveCourse()">
            <br/><br/>
            <fieldset class="fieldset-auto-width">
               <legend class= 'form1'>
                  <b>You are adding the new course:</b> 
               </legend><br/>
               <div>
                  <label class= 'form1'>Name: </label>
                  <input [(ngModel)]="course.name" name="Name" required/>
               </div><br/>
               <div>
                   <label class= 'form1'>Description: </label>
                   <input [(ngModel)]="course.description" name="Description" required/>
                </div><br/>
               <div>
                  <button type="submit">save</button>
               </div>
            </fieldset>
        </form> 
 
    <form  *ngIf="!isCollapsed2" (ngSubmit)="deleteCourse()">
        <br/><br/>
        <fieldset class="fieldset-auto-width">
           <legend class= 'form1' ><b>You are deleting this course: </b></legend>
          <br/>
         <div>
            <label class= 'form1'>Id: </label>
            <input [(ngModel)]="course.id" name="id" required/>
         </div><br/>
         <div>
            <button type="submit">delete</button>
         </div>
        </fieldset>
      </form> 

      

        <form  *ngIf="!isCollapsed3" (ngSubmit)="updateCourse()">
            <br/><br/>
            <fieldset class="fieldset-auto-width">
               <legend class= 'form1'><b>You are updating this course:</b></legend>
               <br/>
               <div>
                  <label class= 'form1'>Id: </label>
                  <input [(ngModel)]="course.id" name="id" type="number" required/>
               </div><br/>
               <div>
                  <label class= 'form1'>Name: </label>
                  <input [(ngModel)]="course.name" name="name" required/>
               </div><br/>
               <div>
                   <label class= 'form1'>Description: </label>
                   <input [(ngModel)]="course.description" name="description" required/>
                </div><br/>
               <div>
                  <button type="submit">update</button>
               </div>
            </fieldset>
         </form> 
         <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
         <br/>

</body>

