
<h5 class="error"><b> {{errorMsg}} </b></h5>
<h5 class="error"><b> {{errorMsg1}} </b></h5>
<h5 class="error"><b> {{errorMsg2}} </b></h5>
<h5 class="error"><b> {{errorMsg3}} </b></h5>
<h5 class="error"><b> {{errorMsg4}} </b></h5>

<div *ngIf="!isCollapsed">
  <h5><i><b>Available Categories</b> </i> </h5>  
<div style="Text-align:center;float:left;" class="showCategoryTypes" *ngFor="let category of categories ">
   
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    <button class="button" (click)="getCourses(category)"> <b>{{category}}</b></button>
  </div>
</div>

<div *ngIf="!isCollapsed7">
  <br/><br/><br/><br/>
  <h6> <i><b>All Available Courses</b> </i></h6>
  <div style="Text-align:center;float:left;"  *ngFor="let course of courses ">
     <br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="nav-item nav-link-edit" style="width: 300px; height: 50px;" (click)="getCourseDetails(course)">{{course}}</button>
      <br/>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<div *ngIf="isCollapsed7">
  <br/><br/><br/><br/>
  <h6> <i><b>All Available Courses from this Category</b> </i></h6>
  <div style="Text-align:center;float:left;"  *ngFor="let course of courses ">
     <br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="nav-item nav-link-edit" style="width: 300px; height: 50px;" (click)="getCourseDetails(course)">{{course}}</button>
      <br/>
    </div>
    <br/><br/><br/><br/><br/>
</div>

<div  *ngIf="isCollapsed2">
  <div class="details">
    <br/><br/>
    <h3 class= 'form1' >Course Details:</h3>
    <form class= 'form1' (ngSubmit)="deleteCourse()" *ngFor="let course1 of course">
      <fieldset class="fieldset-auto-width">
        <legend>
          <b>Course Name:</b> <br/> {{course1.courseName}}
          <br/><br/>
          <b>Course Category:</b> <br/> {{course1.categoryName}}
          <br/><br/>
          <b>Course Requirements:</b> <br/> {{course1.courseRequirements}}
          <br/><br/>
          <b>Course Description:</b> <br/> {{course1.courseDescription}}
          <br/><br/>
          <b>Course Contents:</b><br/>  {{course1.courseContents}}
          <br/><br/>

          <div>
            <button type="submit"><b>Remove Course</b> </button>
         </div>

        </legend>
      </fieldset> 
    </form>
  </div>
</div>
