

.header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: 'Times New Roman';
    margin-left: 410px;
    color: #540999;
}

.content {
    margin: 100px;
}

.logout{
    margin-left: 1300px;
}

.margin25 {
    margin: 25px;
}

.upload {
    cursor: pointer;
}
.icon{
    margin-left: 575px;
}